.flip-card {
    background-color: transparent;
    width: 60px;
    height: 60px;
    perspective: 1000px;
}

@media (max-width: 768px) {
    .flip-card {
        width: 40px;
        height: 40px;
    }
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    animation: flip 10s infinite linear;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 900;
    border-radius: 0.5rem;
    font-family: 'Orbitron', sans-serif;
}

@media (max-width: 768px) {
    .flip-card-front, .flip-card-back {
        font-size: 1.8rem;
    }
}


.flip-card-front {
    background: linear-gradient(145deg, hsl(var(--primary) / 0.8), hsl(var(--secondary) / 0.8));
    color: white;
}

.flip-card-back {
    background: linear-gradient(145deg, hsl(var(--secondary) / 0.8), hsl(var(--primary) / 0.8));
    color: white;
    transform: rotateY(180deg);
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
